body{
  background-color: #b29e84;
  width: 100%;
  text-align: left;
}
.social img{
  width: 30px;
  margin-left: auto;
  margin-right: auto;
}
.téléphone img{
  background-position: left;
}
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
ul{
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}
#navigation li{
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}
#navigation li a {
 display: block ;
 background: #795548 url(lienNormal.png) left top no-repeat ;
 color: #fff ;
 font: 1em "Trebuchet MS",Arial,sans-serif ;
 line-height: 1em ;
 padding: 4px 0 ;
 text-align: center ;
}
#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: #795548 url(lienCoulissant.png) right top no-repeat ;
p{
  font-size: 1em;
  line-height: 1.5em;
  text-align: justify;
}

header h1{
  color: white;
  font-size: 1.5em;
  width: 90%;
  margin: auto;
}
footer p{
  text-align: center;
}

section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  background-color: #fff;
}
section{
  padding: 20px
}
.btn {
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  background: #b29e84;
  color: white;
  padding: 10px;
}
.prez div{
  text-align: center;
  width: 100%;
}
.contact-flex div{
  width: 100%;
}
.compétences p{
  width: 100%;
  text-align: center;
}
.profil div{
  background-color: #b29e84;
  text-align: left;
}
.profil h2{
  background-color: #b29e84;
  text-align: left;
}
